@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './base/sections.css';
@import './components/aside.css';
@import './components/card.css';
@import './components/footer.css';
@import './components/header.css';
@import './components/image-gallery.css';
@import './components/page-layout.css';
@import './components/wrap.css';
@import './utilities/text.css';
