---
import { twMerge } from 'tailwind-merge';
export interface Props {
  class?: string;
}
const { class: className = '' } = Astro.props;
---

<h1
  class={twMerge(
    'bg-clip-text pb-3 text-transparent bg-gradient-to-r from-slate-800 to-slate-800 via-yellow-500',
    className
  )}
>
  <slot />
</h1>

<style>
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }

  h1 {
    animation: shine 5s ease-in-out infinite;
    background-size: 200% auto;
  }
</style>
