---
import { twMerge } from 'tailwind-merge';

export interface Props {
  class?: string;
  href: string;
}
const { class: className = '', href } = Astro.props;
---

<a href={href} class="no-underline">
  <p class={twMerge('claim text-center text-2xl font-semibold text-slate-700', className)}>
    <slot />
  </p>
</a>
