---
import { twMerge } from 'tailwind-merge';

export interface Props {
  class?: string;
}
const { class: className = '' } = Astro.props;
---

<div class={twMerge('wrap', className)}>
  <slot />
</div>
