---
import { twMerge } from 'tailwind-merge';

export interface Props extends astroHTML.JSX.ImgHTMLAttributes {}

const { class: className = '', src, alt, title } = Astro.props as Props;
---

<div class={twMerge('image', className)}>
  <img src={src} alt={alt} title={title} class="mx-auto" />
  {!!title && <p>{title}</p>}
</div>

<style is:global>
  div.square img {
    width: 402px;
    height: 402px;
    border-radius: 30px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: bottom;
  }
</style>
